///////////////////////
//                   //
//   Lately.cc LESS  //
//                   //
///////////////////////

// Variables

@font-swiss-thin:    'Helvetica Neue';
@font-swiss-regular: 'Helvetica';
@font-plain-looking: 'Arial', 'Verdana';
@font-fancy-title:   'Domine';
@font-good-hangul:   'Apple SD Gothic Neo', 'Nanum Gothic';
@font-serif-hangul:  'KoPub Batang';

// font and line height
@font-size-base:  16px;
@line-height-base: 1.55;
@line-height-computed: floor(@font-size-base * @line-height-base);

// default font chain
@font-chain:      @font-good-hangul,
                  @font-swiss-thin,
                  @font-swiss-regular,
                  @font-plain-looking;

// rooms
@room-zip:       0px;
@room-bare:      5px;
@room-thin:     10px;
@room-gap:      15px;
@room-para:     20px;
@room-normal:   30px;
@room-more:     50px;
@room-super:    80px;

// font weights
@weight-thin:   100;
@weight-light:  200;
@weight-normal: 300;
@weight-medium: 400;

// font sizes
@size-tiny:      11px;
@size-small:    0.9em;
@size-normal:   1.0em;
@size-bit-bigger: 1.2em;
@size-medium:   1.6em;
@size-big:      2.0em;
@size-title:    2.5em;

@content-width: 750px;

.box-middle(@width) {
  margin-left: auto;
  margin-right:auto;
  width: @width;
}

body {
  font-size: @font-size-base;
  margin: @room-zip;
  font-family: @font-chain;
  font-weight: @weight-light;
  line-height: @line-height-computed;
}

.fullimg {
  .box-middle(@content-width);
  img {
    max-width:100%;
  }
}

.non-alphabet {
  font-family:   @font-serif-hangul;
}
.all-alphabet {
  font-family:   @font-fancy-title;
}

.meta {
  h1 {
    font-size:     @size-title;
    font-weight:   @weight-medium;
    font-family:   @font-serif-hangul;
    margin-bottom: @room-gap;
  }
  a.subject {
    color: #000;
    text-decoration:none;
  }
  h2 {
    font-size:     @size-big;
    font-weight:   @weight-medium;
    margin-bottom: @room-gap;
  }
  padding-bottom: @room-thin;
  .box-middle(@content-width);
}

.post {
  .content p, .thread {
    .box-middle(@content-width);
  }

  ul {
    padding-left: 20px;
    .box-middle(@content-width - 20);
  }

  blockquote p {
    font-family: @font-serif-hangul;
    font-style: italic;
    font-size: @size-bit-bigger;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 3px solid #666;
    .box-middle(@content-width - 40);
  }

  .divider {
    .box-middle(200px);
    border-bottom:1px solid #ccc;
    margin-top: @room-super;
    margin-bottom: @room-super;
  }

  letter-spacing: -0.02em;
  margin-bottom: @room-super;
}

// iphone
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
{
  .post {
    font-weight: @weight-normal;
    .content p, .meta, blockquote, .thread {
      .box-middle(90%);
    }

    ul {
      .box-middle(80%);
    }

  }


  .fullimg {
    .box-middle(100%);
    img {
    max-width:100%;
    }
  }
}
