  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="msapplication-TileImage" content="img/icons/touch-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#222222">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- touch icons, to satisfy everyone -->
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/icons/touch-icon-180x180.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icons/touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icons/touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/icons/touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" href="img/icons/touch-icon-57x57.png">
  <link rel="shortcut icon" href="img/icons/touch-icon-180x180.png">
  <link rel="icon" sizes="192x192" href="img/icons/touch-icon-192x192.png">
  <link rel="icon" sizes="128x128" href="img/icons/touch-icon-128x128.png">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/lately.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/paragraph.css">
  <link rel="alternate" type="application/rss+xml" title="lately.cc/eungyu" href="{{ site.baseurl }}/feed.xml">
