  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="msapplication-TileImage" content="img/icons/touch-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#222222">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="57x57" href="/eungyu/img/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/eungyu/img/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/eungyu/img/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/eungyu/img/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/eungyu/img/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/eungyu/img/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/eungyu/img/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/eungyu/img/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/eungyu/img/icons/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" href="/eungyu/img/icons/favicon.ico">
  <link rel="icon" type="image/png" href="/eungyu/img/icons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/eungyu/img/icons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/eungyu/img/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/eungyu/img/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/eungyu/img/icons/favicon-32x32.png" sizes="32x32">
  
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="/eungyu/img/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="/eungyu/img/icons/browserconfig.xml">

  <!-- Google Fonts -->
  <style>
  @import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
  </style>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/lately.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/paragraph-0.2.0.min.css">
  <link rel="alternate" type="application/rss+xml" title="lately.cc/eungyu" href="{{ site.baseurl }}/feed.xml">
