{{ "{%" }} capture imgfound {{ "%}"}}{{ "{%" }} file_exists {{ basepath }}/img/p/{{ revision }}.jpg {{ "%}"}}{{ "{%" }} endcapture {{ "%}"}}
{{ "{%" }} if imgfound == "true" {{ "%}"}}
<div class="fullimg">
  <img src="/img/p/{{ revision }}.jpg" alt="title photo">
</div>
{{ "{%" }} endif {{ "%}"}}
